
.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 20px;
    align-items: start;
    gap: 50px;
    padding-bottom: 0;
    
    .left {
        position: sticky;
        top: 70px;
        height: 300px;
        
        .navigation {

            .navigation-element {
                padding: 10px 0;
                @include flexCenter;
                justify-content: flex-start;
                margin-bottom: 10px;
                border-radius: 10px;
                gap: 10px;
    
                &:hover {
                    background-color: $hoverColor;
                }
            }
        }
    }

    .middle {
        .stories {
            width: 100%;
            height: 200px;
            display: flex;
            gap: 10px;
            
            .story {
                width: 130px;
                height: 200px;
                overflow: hidden;
                border-radius: 10px;
                position: relative;
                
                .name {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    color: white;
                    font-size: 18px;
                    font-weight: 900;
                    z-index: 9999999999999999999999999;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;                    
                    transition: 0.4s;
                
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
        

        
        .yozish {
            width: 100%;
            background-color: #fff;
            margin-top: 30px;
            padding: 10px;
            border-radius: 10px;
            
            .top {
                @include flexCenter;
                gap: 20px;
                height: 60px;
 
                input { 
                    width: 100%;
                    height: 50px; 
                    border-radius: 100px;
                    border: none;
                    background-color: #f3f3f3;
                    padding-left: 15px;
                    font-size: 16px;
                }

                img {
                    width: 50px;
                    height: 50px;
                }
            }

            hr {
                margin-top: 20px;
                height: 1px;
                border: none;
                background-color: #a1a1a1;
            }

            .bottom {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                padding: 0 10px;
                padding-top: 10px;

                .element {
                    padding: 10px 15px;
                    border-radius: 10px;
                    font-size: 16px;
                    text-align: center;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    &:hover {
                        background-color: #f3f3f3;
                    }
                }
                
            }
        }

        .room-container {
            width: 100%;
            max-width: 690px;
            height: 80px; 
            margin: 30px 0;
            border-radius: 10px;
            @include flexCenter($gap: 15px);
            justify-content: flex-start;
            padding: 0 10px;
            background-color: #fff;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                width: 0; 
                background: transparent;
                height: 0;
            } 
            
            .xona-yasash {
                @include flexCenter($gap: 10px);
                padding: 5px 10px;
                border: 1px solid #97c6f5;
                border-radius: 100px;
                min-width: 170px;
            }

            .xonalar {
                width: 1500px;
                height: 80px; 
                @include flexCenter(row, 15px);
                justify-content: flex-start;


                .xona {
                    width: 45px;
                    height: 45px;
                    
                    img {
                        width: 45px;
                        height: 45px;    
                    }
                }
            }
        }

        .post {
            margin-bottom: 30px;
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;

            .post-header {
                @include flexCenter;
                justify-content: space-between;


                .author {
                    @include flexCenter($gap: 10px); 
                    
                    img {
                        width: 45px;
                        height: 45px;
                    }

                    div {

                        p:last-child {
                            color: rgb(139, 139, 139);
                            font-size: 12px;
                        }
                    }
                }
            }

            .maqola {
                p {
                    
                    margin: 15px 0;
                }                

                .image-container {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .post-footer {
                @include flexCenter;
                justify-content: space-between;

                div {
                    height: 40px;
                    width: 100%;
                    @include flexCenter($gap: 10px);
                    border-radius: 10px;

                    &:hover {
                        background-color: #f3f3f3;
                    }
                }
            }
        }
    }

    .right {

        position: sticky;
        top: 70px;
        .contacts {
            .contact {
                @include flexCenter($gap: 10px);
                margin-bottom: 20px;
                justify-content: flex-start;

                .image-container {
                    width: 35px;
                    position: relative;

                    img {
                        width: 35px;
                    }
               
                    
                    .online {
                        width: 10px;
                        height: 10px;
                        background-color: rgb(0, 170, 142);
                        border-radius: 100px;
                        position: absolute;
                        bottom: 8px;
                        right: -3px;
                    }
                }
            }   
        }
    }
}
