@font-face {
  font-family: "facebook-font";
  src: url("../fonts/FACEBOLF.OTF");
}

@font-face {
  font-family: "facebook-regular";
  src: url("../fonts/FacebookSansRegular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: "facebook-regular";
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  padding: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 50px;
  padding-bottom: 0;
}

.container .left {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  height: 300px;
}

.container .left .navigation .navigation-element {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  border-radius: 10px;
  gap: 10px;
}

.container .left .navigation .navigation-element:hover {
  background-color: #d1d1d1;
}

.container .middle .stories {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.container .middle .stories .story {
  width: 130px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.container .middle .stories .story .name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: 900;
  z-index: 9999999999999999999999999;
}

.container .middle .stories .story img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container .middle .stories .story img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .middle .yozish {
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
}

.container .middle .yozish .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  gap: 20px;
  height: 60px;
}

.container .middle .yozish .top input {
  width: 100%;
  height: 50px;
  border-radius: 100px;
  border: none;
  background-color: #f3f3f3;
  padding-left: 15px;
  font-size: 16px;
}

.container .middle .yozish .top img {
  width: 50px;
  height: 50px;
}

.container .middle .yozish hr {
  margin-top: 20px;
  height: 1px;
  border: none;
  background-color: #a1a1a1;
}

.container .middle .yozish .bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10px;
  padding-top: 10px;
}

.container .middle .yozish .bottom .element {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.container .middle .yozish .bottom .element:hover {
  background-color: #f3f3f3;
}

.container .middle .room-container {
  width: 100%;
  max-width: 690px;
  height: 80px;
  margin: 30px 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 10px;
  background-color: #fff;
  overflow-x: scroll;
}

.container .middle .room-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
  height: 0;
}

.container .middle .room-container .xona-yasash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid #97c6f5;
  border-radius: 100px;
  min-width: 170px;
}

.container .middle .room-container .xonalar {
  width: 1500px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .middle .room-container .xonalar .xona {
  width: 45px;
  height: 45px;
}

.container .middle .room-container .xonalar .xona img {
  width: 45px;
  height: 45px;
}

.container .middle .post {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.container .middle .post .post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .middle .post .post-header .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.container .middle .post .post-header .author img {
  width: 45px;
  height: 45px;
}

.container .middle .post .post-header .author div p:last-child {
  color: #8b8b8b;
  font-size: 12px;
}

.container .middle .post .maqola p {
  margin: 15px 0;
}

.container .middle .post .maqola .image-container {
  width: 100%;
}

.container .middle .post .maqola .image-container img {
  width: 100%;
}

.container .middle .post .post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .middle .post .post-footer div {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  border-radius: 10px;
}

.container .middle .post .post-footer div:hover {
  background-color: #f3f3f3;
}

.container .right {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}

.container .right .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .right .contacts .contact .image-container {
  width: 35px;
  position: relative;
}

.container .right .contacts .contact .image-container img {
  width: 35px;
}

.container .right .contacts .contact .image-container .online {
  width: 10px;
  height: 10px;
  background-color: #00aa8e;
  border-radius: 100px;
  position: absolute;
  bottom: 8px;
  right: -3px;
}

.header {
  width: 100%;
  height: 56px;
  padding: 0 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: -1px 4px 7px -3px rgba(152, 152, 152, 0.89);
          box-shadow: -1px 4px 7px -3px rgba(152, 152, 152, 0.89);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.header .left {
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header .left img {
  width: auto;
  height: 40px;
}

.header .left .input {
  position: relative;
}

.header .left .input input {
  width: 240px;
  height: 40px;
  border-radius: 100px;
  border: none;
  outline: none;
  padding-left: 50px;
  background-color: #f3f3f3;
}

.header .left .input svg {
  position: absolute;
  left: 16px;
  top: 8px;
  fill: rgba(0, 0, 0, 0.459);
}

.header .middle {
  width: 33%;
  height: 100%;
  padding: 5px 0;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

.header .middle .svg-container {
  width: 100px;
  height: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

.header .middle .svg-container:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.header .middle .svg-container svg {
  fill: #65676b;
}

.header .right {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

.header .right svg-round-con {
  width: 40px;
  height: 40px;
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
}
/*# sourceMappingURL=style.css.map */